.Login {
  background: #2e98d1;
  position: relative; /*相対位置*/
  color: white;
}

a {
  color: white;
}

.username {
  width: 20%;
  height: 2em;
  --padding-x: 0.5em;
}

.signIn {
  height: 2em;
  --padding-x: 0.5em;
}

.accountAlert {
  padding-top: 3px;
  padding-bottom: 5px;
}
