.Login {
  justify-content: center;
  margin-top: 23%;
  margin-bottom: 0px;
}

.appName {
  font-size: 50px;
  color: #668ad8;
  font-weight: bolder;
}

.username {
  width: 200px;
  height: 50px;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.signIn {
  width: 130px;
  height: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  margin-bottom: 0px;
  background: #668ad8; /*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.signIn:hover {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
  border-bottom: none;
}

.accountAlert {
  padding-top: 3px;
  padding-bottom: 5px;
}

.controller {
  font-size: 37px;
  margin-top: 5px;
}
