.MonsterBox {
  width: 100%;
}

.changeMonButton {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  width: 150px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #668ad8; /*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 16px;
}
